name: Blacksmith Cache MITM pop

on:
  workflow_dispatch:   # manual trigger from GitHub UI

jobs:
  cache-test:
    runs-on: monkci-miglet-tst1
    env:
      NODE_EXTRA_CA_CERTS: /usr/local/share/ca-certificates/blacksmith-ca.crt
    steps:
      - name: Show runner info
        run: |
          echo "Runner: $HOSTNAME"
          uname -a

      - name: Use GitHub cache (MITM)
        uses: actions/cache@v4
        with:
          path: ~/.poc-cache
          key: test-Linux-
          restore-keys: |
            test-Linux-

      - name: Write something into cache path
        run: |
          mkdir -p ~/.poc-cache
          echo "Hello from Blacksmith PoC at $(date)" > ~/.poc-cache/hello.txt
          ls -R ~/.poc-cache
