name: Force Proxy Cache
on: workflow_dispatch

jobs:
  test-proxy-connection:
    runs-on: self-hosted
    steps:
      - name: Create Dummy File
        run: echo "I am a test file" > test.txt

      - name: Save to Proxy (Forced Env)
        uses: actions/cache@v3
        with:
          path: test.txt
          key: forced-proxy-cache-${{ github.run_id }}
        env:
          # We force the runner to look at Localhost (Your Go Proxy)
          ACTIONS_CACHE_URL: "http://127.0.0.1:8080/_apis/artifactcache/"
          ACTIONS_RUNTIME_URL: "http://127.0.0.1:8080/_apis/artifactcache/"
          ACTIONS_RESULTS_URL: "http://127.0.0.1:8080/_apis/artifactcache/"
          ACTIONS_RUNTIME_TOKEN: "dummy-token"
