name: Cache Intercept Test v2
on: workflow_dispatch

jobs:
  cache-test:
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v4

      # Optional: debug what env the step sees
      - name: Debug proxy env
        run: env | grep -i proxy || true
        env:
          HTTPS_PROXY: http://127.0.0.1:8080

      - name: Cache npm
        uses: actions/cache@v4
        env:
         HTTPS_PROXY: http://127.0.0.1:8080
         NODE_OPTIONS: --use-openssl-ca
         NODE_EXTRA_CA_CERTS: /usr/local/share/ca-certificates/mitmproxy-root.crt

        with:
          path: ~/.npm
          key: test-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
          restore-keys: test-${{ runner.os }}-

