name: Proxy Cache Test
on: workflow_dispatch

jobs:
  test-save:
    runs-on: self-hosted
    steps:
      - name: Create File
        run: echo "Proxy Data $(date)" > proxy.txt

      - name: Save to Cache
        uses: actions/cache@v3
        with:
          path: proxy.txt
          key: proxy-test-${{ github.run_id }}
