name: Check Runner Env

on: workflow_dispatch

jobs:
  print:
    runs-on: self-hosted
    steps:
      - run: |
          echo "ACTIONS_CACHE_URL=$ACTIONS_CACHE_URL"
          echo "ACTIONS_RUNTIME_URL=$ACTIONS_RUNTIME_URL"
          echo "ACTIONS_RUNTIME_TOKEN=$ACTIONS_RUNTIME_TOKEN"
