name: Debug Env
on: workflow_dispatch

jobs:
  check-env:
    runs-on: self-hosted
    steps:
      - name: Dump Environment Variables
        run: |
          echo "--- ACTIONS VARIABLES ---"
          env | grep ACTIONS_
          echo "-------------------------"
