name: Docker Build Pipeline monkci
# this is the change

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  docker-build:
    runs-on: monkci-ubuntu-24.04-4

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build production containers
        run: |
          docker compose -f docker-compose.dev.yml up --build -d
